* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }

  html, body {
      height: 100vh;
  }

body {
    font-family: 'Recursive', sans-serif;
    font-size: 20px;
    background-color: #ffffff;
    color: #727272;
    text-align: center;
    display:grid;
    grid-template: 10% 35% 25% 25% 5% / repeat(6, 1fr);
    justify-content: center;
    justify-items: center;
    align-items: center;
    grid-column-gap: 20px;
}

header {
    top: 0;
    left: 0;
    position: fixed;
    z-index: 10;
    width: 100%;
    background-color: #ffffff;
    grid-column-start: 1;
    grid-column-end: 7;
}

header h1 {
    margin-left: 30px;
    font-size: 1rem;
}

.subtitle{
    margin-left: 200px;
    font-size: 0.8rem;
}

nav {
    text-align: right;
    flex-grow: 1;
    margin-right: 10rem;
}

nav span {
    display: inline-block;
    padding: 10px;
    font-size: 1rem;
}

a {
    color: #727272;
    text-decoration: none;
}

.flex-container {
    display: flex;
    align-items: center;
    justify-content: center;
    grid-column: 1 / 7;
    width: 100%;
}

.carousel .flex-container {
    align-items: center;
    flex-wrap: wrap;
    flex: 1 2;
}

/* Image Carousel */
.img-slide img{
    display: block;
    height: 200px;
    width: 300px;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
}

.about img {
    width: 600px;
    height: 360px;
}

.left {
    grid-column: 1 / span 3;
    background-color: coral;
    display: none;
}

.right {
    grid-column: 3 / span 3;
    background-color: cornflowerblue;
    display: none;
}

.right img {
    max-width: 100%;
}

footer {
    width: 100%;
    background-color: coral;
    grid-column: 1 / 7;
}