* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }

  *, *::after, *::before {
    box-sizing: border-box;
    outline: 0;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
    display: block;
}

html, body {
    height: 100vh;
    scroll-behavior: smooth;
}

body {
    font-family: 'Recursive', sans-serif;
    font-size: 20px;
    background-color: #ffffff;
    color: #727272;
    text-align: center;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    overflow-x: hidden;
}

.grid {
    display:grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-areas: 
        "header header header header header header"
        "gallery gallery gallery gallery gallery gallery"
        "about about about about about about"
        "villa villa villa villa villa villa"
        "villa-collage villa-collage villa-collage villa-collage villa-collage villa-collage"
        "cottage cottage cottage cottage cottage cottage"
        "connect connect connect connect connect connect"
        "map map map map map map"
        "social social social social social social"
        "footer footer footer footer footer footer";
    grid-column-gap: 20px;
}

header {
    top: 0;
    left: 0;
    position: fixed;
    z-index: 3;
    width: 100%;
    height: 60px;
    background-color: #ffffff;
    grid-area: header;
}

h1 {
    margin-left: 100px;
    font-size: 1.2rem;
    cursor: pointer;
}

.subtitle{
    margin-left: 200px;
    font-size: 0.8rem;
}

nav {
    text-align: right;
    flex-grow: 1;
    margin-right: 10rem;
}

nav span {
    display: inline-block;
    padding: 10px;
    font-size: 1rem;
}

a {
    color: #727272;
    text-decoration: none;
}

.flex-container {
    display: flex;
    align-items:center;
    align-content: center;
    justify-content: center;
}

.flex-header, .flex-footer, .flex-gallery{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

section.carousel {
    height: auto;
    min-height: calc(100vh - 60px);
    width: 100%;
    flex-wrap: wrap;
    grid-area: gallery;
}

section.carousel video{
    min-height: calc(100vh - 60px);
    width: 100%;
}

/* Image Carousel */
.img-slide img{
    display: block;
    max-height: 80%;
    height: 300px;
    width: 400px;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
}

.about {
    grid-area: about;
    display: grid;
    grid-template-columns: repeat(2, 50%);
    height: auto;
    min-height: 100vh;
    width: 100%;
    background-color: #fff5de;
}

.section-header {
    margin-bottom: 50px;
}

.about p {
    line-height: 2.5rem;
    letter-spacing: 0.05rem;
}

.left {
    flex-direction: column;
    justify-self: center;
    align-self: center;
    grid-column: 1 / span 1;
    margin-left: 20px;
    margin-right: 20px;
}

.right {
    flex-direction: column;
    justify-self: center;
    align-self: center;
    grid-column: 2 / span 1;
    margin-left: 20px;
    margin-right: 20px;
}

.fade-in{
    opacity: 0;
    transition: opacity 250ms ease-in;
}

.fade-in.appear{
    opacity: 1;
}

section.about .about-left{
    grid-column: 1 / span 1;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(12, calc((100vh - 60px) / 12));
    margin-left: 20px;
    margin-right: 20px;
}

section.about .about-left img{
    display: block;
    position: relative;
    height: 120px;
    width: 120px;
    grid-column: 7 /span 3;
    grid-row: 3 / span 4;
    z-index: 1;
}

section.about .about-left h2{
    text-align: left;
    grid-column: 5 / span 2;
    grid-row: 4 / span 2;
    z-index: 2;

}

section.about .about-left p{
    text-align: left;
    grid-column: 2 / 12;
    grid-row: 6 / span 5;
    z-index: 2;
}

section.about .about-right{
    grid-column: 2 / span 1;
    margin-left: 20px;
    margin-right: 20px;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(12, calc((100vh - 60px) / 12));
}

section.about .stack-top{
    display: block;
    position: relative;
    grid-row: 5 / span 4;
    grid-column: 1 / span 8;
    padding-top: 20%;
    z-index: 1; 
}

section.about .stack-bottom{
    display: block;
    position: relative;
    grid-column: 4 / -1;
    grid-row: 4 / span 4;
}

section.about .about-right img{
    display: block;
    max-width: 100%;
    width: 600px;
    height: 400px;
}

section.villa {
    grid-area: villa;
    position: relative;
    
    height: auto;
    min-height: calc(100vh - 60px);
    background-color: #22313f;
    color: #fff;
}

section.villa::before{
    content: '';
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50vw);
    width: 100vw;
    height: 100%;
    background: inherit;
}

main section a.scroll {
    position: absolute;
    top: 0;
    left: 0;
    transform: translateY(-100%);
    display: block;
    height: 60px;
    pointer-events: none;
}

section.villa h2
{
	left: calc(50% - 2px);
	margin-left: -305px
}

section.villa.active h2{
    position: fixed;
    top: 92px;
}

section.villa.top h2{
	position: absolute;
	top: 20px
}

section.villa.bottom h2
{
	position: absolute;
	top: unset;
	bottom: calc(100vh - 132px)
}

@media (max-width: 1280px){
section.villa h2 {
    left: -2px;
    margin-left: calc(((3/12) * (100% - 20px) + 20px));
}
}

section.villa.active .area {
    position: fixed;
    top: calc(50vh + 36px);
    transform: translateY(-50%);
}

section.villa .area {
    left: 0;
    margin-left: calc(50% - 50vw);
    overflow: hidden;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    width: 100vw;
    height: auto;
}

section.villa.top .area
{
	position: absolute;
	top: calc(50vh - 36px);
	transform: translateY(-50%)
}

section.villa.bottom .area
{
	position: absolute;
	bottom: calc(50vh - 36px);
	transform: translateY(50%)
}

section.villa .block {
    height: calc(100vh - 60px);
    z-index: 1;
    pointer-events: none;
}

section.villa article
{
	position: relative;
	display: flex;
	flex-direction: column;
	flex-shrink: 0;
	width: 420px;
	transition: transform 200ms
}

article.room{
    transform: translateX(-100%);
}

article.bath{
    transform: translateX(-200%);
}

article.outside{
    transform: translateX(-300%);
}

section.villa article:first-of-type{
    margin-left: calc(50% - 305px)
}

section.villa article h3
{
	min-height: 80px;
	margin-right: 20px;
	font-size: 40px;
	line-height: 1;
	opacity: 0;
	transition: opacity 400ms
}

section.villa .area.kitchen article.kitchen h3, section.villa .area.room article.room h3, section.villa .area.bath article.bath h3, section.villa .area.outside article.outside h3
{
	opacity: 1;
	transition-delay: 400ms
}

section.villa article picture{
    height: auto;
    width: calc(50% - 10px);
    margin: 20px 0;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    transform: translateX(calc((-600% - 60px) * var(--villaProgress, 0)));
    opacity: .25;
    pointer-events: all;
    transition: opacity 200ms;
}

section.villa article.room picture
{
	margin-left: 100%;
}

section.villa article.bath picture
{
	margin-left: 200%;
}

section.villa article.outside picture
{
	margin-left: 300%;
}

section.villa .area.kitchen article.kitchen picture, section.villa .area.room article.room picture, section.villa .area.bath article.bath picture, section.villa .area.outside article.outside picture
{
	opacity: 1
}

section.villa article picture::before
{
	content: '';
	height: 0;
	display: block;
	padding-bottom: 80%
}

section.villa article.kitchen picture {
    background-image: url(./Resources/icons8-restaurant-100\ \(1\).png);
}

section.villa article.room picture{
    background-image: url(./Resources/icons8-sleep-100\ \(1\).png);
}

section.villa article p
{
	margin-right: 20px;
	transition: opacity 400ms;
	opacity: 0
}

section.villa .area.kitchen article.kitchen p, section.villa .area.room article.room p, section.villa .area.bath article.bath p, section.villa .area.outside article.outside p
{
	opacity: 1;
	transition-delay: 400ms
}

/* Villa Image Collage Section */
section.villa-collage{
    grid-area: villa-collage;
    width: 100%;
    min-height: calc(100vh - 60px);
    height: auto;

    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(12, calc(100vh - 60px) / 12);
    grid-gap: 10px;
    margin: 25px;
}

section.villa-collage .one{
    grid-column: 6 / 12;
    grid-row: 1 / span 4;
    width: 100%;
}
section.villa-collage .two{
    grid-column: 5 / span 3;
    grid-row: 6 / span 4;
    width: 100%;
}

section.villa-collage .three{
    grid-column: 1 / span 4;
    grid-row: 2 / span 4;
    width: 100%;
}

section.villa-collage .four{
    grid-column: 1 / span 3;
    grid-row: 6 / span 4;
    width: 100%;
}

section.villa-collage .five{
    grid-column: 7 / span 3;
    grid-row: 7 / span 4;
    width: 100%;
}

/* Cottage Horizontal Scroll */
.cottage {
    grid-area: cottage;
    position: relative;
    width: 100%;
    height: auto;
    min-height: calc(100vh - 60px);
    background-color: #22313f;
    color: #fff;
}

section.cottage::before{
    content: '';
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50vw);
    width: 100vw;
    height: 100%;
    background: inherit;
}

/* Connect Section */
section.connect {
    grid-area: connect;
    height: auto;
    display: flex;
    align-items:center;
    align-content: center;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: column;
    min-height: calc(100vh - 60px);
    width: 100%;
    background-color: #22313f;
    color: #fff;
    /*background-color: #ffffff;
    color: #727272;*/
}

section.connect h2{
    margin-bottom: 2rem;
}

section.connect p{
    text-align: center;
}

section.connect img{
    width: 40px;
}

.location {
    grid-area: map;
    height: auto;
    min-height: 60vh;
    display: grid;
    grid-template-columns: repeat(2, 50%);
    width: 100%;
    background-color: #fff5de;
}

#map {
    height: 380px;
    width: 80%;
}

.address {
    padding-left: 50px;
}

/* Social Section */
section.social{
    margin: 60px;
    grid-area: social;

    display: flex;
    justify-content: space-evenly;
}

section.social img{
    width: 100px;
}

footer {
    grid-area: footer;
    height: auto;
    max-height: 60px;
    width: 100%;
    background-color: black;
}

.terms{
    font-size: 0.8rem;
}

footer h4 {
    font-size: 0.8rem;
}

/* Buttons and media queries */
#scrollBtn {
    opacity: 0.8;
    width: 3.4rem;
    height: 3.2rem;
    display: none;
    position: fixed;
    bottom: 30px;
    right: 40px;
    z-index: 99;
    border: none;
    outline: none;
    background-color: #555;
    color: white;
    cursor: pointer;
    border-radius: 10px;
    font-size: 1rem;
}

#scrollBtn:hover {
    opacity: 1;
    background-color: #777;
}