* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }

  html, body {
      height: 100vh;
      scroll-behavior: smooth;
  }

body {
    font-family: 'Recursive', sans-serif;
    font-size: 20px;
    background-color: #ffffff;
    color: #727272;
    text-align: center;
    display:grid;
    grid-template: 60px 600px 400px 400px 60px / repeat(6, 1fr);
    grid-column-gap: 20px;
    grid-row-gap: 10px;
}

header {
    top: 0;
    left: 0;
    position: fixed;
    z-index: 10;
    width: 100%;
    background-color: #ffffff;
    grid-column-start: 1;
    grid-column-end: 7;
    grid-row: 1 / span 1;
}

header h1 {
    margin-left: 30px;
    font-size: 1rem;
}

.subtitle{
    margin-left: 200px;
    font-size: 0.8rem;
}

nav {
    text-align: right;
    flex-grow: 1;
    margin-right: 10rem;
}

nav span {
    display: inline-block;
    padding: 10px;
    font-size: 1rem;
}

a {
    color: #727272;
    text-decoration: none;
}

.flex-container {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.carousel {
    width: 100%;
    flex-wrap: wrap;
    grid-column: 1 / 7;
    grid-row: 2 / span 1;
}

/* Image Carousel */
.img-slide img{
    display: block;
    max-height: 80%;
    height: 300px;
    width: 400px;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
}

.about {
    grid-column: 1 / 7;
    grid-row: 3 / span 1;
    width: 100%;
}

.left {
    width: 50%;
    grid-column: 1 / 4;
    margin-left: 20px;
    margin-right: 20px;
}

.right {
    width: 50%;
    grid-column: 4 / 7;
    margin-left: 20px;
    margin-right: 20px;
}

.right img {
    display: block;
    max-width: 100%;
    width: 600px;
    height: 360px;
}

.contact {
    grid-column: 1 / 7;
    grid-row: 4 / span 1;
}

footer {
    width: 100%;
    background-color: coral;
    grid-column: 1 / 7;
    grid-row: 5 / span 1;
}